:root {
    --brand-color: oklch(0.627 0.194 149.214);
}

html,
html.dark {
    background-color: white;
}

body {
    color: black;
    background-color: white;

    a,
    button {
        transition: all 0.3s;
    }
}

.navbar-toggler {
    border: none;
    outline: 0;
    box-shadow: none;

    &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--brand-color);
}

.rounded-md {
    border-radius: var(--radius-md) /* calc(var(--radius) - 2px) */;
}

.my-2\.5 {
    margin-block: calc(var(--spacing) * 2.5) /* 0.625rem = 10px */;
}

.max-sm\:gap-1 {
    @media (width < 40rem) {
        gap: calc(var(--spacing) * 1) !important;
    }
}

.max-sm\:gap-2 {
    @media (width < 40rem /* 640px */) {
        gap: calc(var(--spacing) * 2) !important /* 0.5rem = 8px */;
    }
}

.text-lg {
    font-size: var(--text-lg) /* 1.125rem = 18px */;
    line-height: var(--tw-leading, var(--text-lg--line-height) /* calc(1.75 / 1.125) ≈ 1.5556 */);
}

.lg\:text-lg {
    @media (width >= 64rem /* 1024px */) {
        font-size: var(--text-lg) /* 1.125rem = 18px */;
        line-height: var(--tw-leading, var(--text-lg--line-height) /* calc(1.75 / 1.125) ≈ 1.5556 */);
    }
}

.hover\:opacity-70 {
    &:hover {
        @media (hover: hover) {
            opacity: 70% !important;
        }
    }
}

.product-card {
    width: 100%;
    border-radius: 4px;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    display: block;
    text-decoration: none;
    border: 1px solid white;

    .product-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        aspect-ratio: 16 / 9;
        margin: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: scale(1);
            transition: all 0.4s ease-in-out;
        }
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        text-align: center;
        padding: 0 20px 20px;

        .product-details {
            font-size: 22px;
            font-weight: 700;
            color: #1d1d1d;
            text-decoration: none;

            &:hover {
                color: var(--brand-color);
            }
        }

        .price {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 4px;
            margin: 4px 0;

            span {
                font-size: 16px;
                color: #797979;
                font-weight: 600;
            }
        }
    }

    .product-cart-btn {
        transition: all 0.4s;
        width: 100%;

        .product-btn {
            width: 100%;
            gap: 4px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 12px;
            background: rgba(52, 168, 83, 0.2);
            color: var(--brand-color);
            font-size: 16px;
            border-radius: 4px;
            transition: all 0.4s;
            font-weight: bold;

            &:hover {
                background-color: var(--brand-color);
                color: #ffffff;
            }
        }
    }

    &:hover {
        border: 1px solid var(--brand-color);

        .product-img {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.page-title {
    background-color: #f7f8f1;
    padding: 36px 0;

    h1 {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 900;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-style: 16px;
    }
}

.contact-map {
    width: 100%;
    aspect-ratio: 16/4;
    pointer-events: none;
    border: none;

    @media (max-width: 991px) {
        aspect-ratio: 16 / 9;
    }
}
